[Dd]ebug*/  
[Rr]elease*/  
x64/  
x86/  
[Aa][Rr][Mm]*/  
bld/  
[Bb]in/  
[Oo]bj/    
.vs/  
artifacts/  
*.cache  
*.log  
*.tmp  
*.pidb  
*.svclog  
*.scc  
.builds
logs/
publish/  
*.publish.xml  
*.azurePubxml  
*.pubxml  
*.publishproj  
PublishScripts/  
*.pfx  
*.publishsettings
*.nupkg  
*.snupkg  
**/packages/*  
!**/packages/build/  
*.nuget.props  
*.nuget.targets  
src/**/[Bb]in/  
src/**/[Oo]bj/  
tests/**/[Bb]in/  
tests/**/[Oo]bj/  
**/Properties/launchSettings.json